body, h1, h2, h3, h4, div , p, ul, li, fieldset {
	margin: 0; padding: 0;
}

body {
	color: #444;
}

#header {
	background: transparent url(../img/bg.png);
	height: 60px;
	overflow: hidden;
}

#header #himg {
	background: transparent url(../img/logo.png) no-repeat top left;
	width: 224px;
	height: 47px;

	font-size: 0;
	text-indent: -10000px;

	margin-left: 10px;
}


/* =header {{{ */
#header h1 a {
	display: block;
}
#header h1, #header h1 + p {
	float: left;
}
#header h1 + p {
	margin-top: 30px;
	margin-left: 20px;
}

#header form {
	background: #effb74;

	margin-top: 10px;
	padding: 5px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;

	float: right;
}
#header form label {
	font-size: small;
	padding-right: 5px;
}
#header form input#user_only {
	margin-left: 5px;
}
/* }}} */

/* =footer {{{ */
#footer {
	background: transparent url(../img/foot_bg.png);
	width: 80%;
	margin: 40px auto 0 auto;
	padding: 10px 20px;
	text-align: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	overflow: hidden;
}

#footer img {
	float: left;
}
#footer ul, #footer p {
	float: right;
}

#footer ul {
	list-style: none;
	display: inline;
}
#footer ul li {
	display: inline;
}
#footer ul li:before {
	content: " | ";
}
/* }}} */

a:link {
	color: #04c;
}
a:hover {
	color: #37f;
}

form input {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
form input[type=submit] {
	border: 0;
	padding: 1px 0.5em;
	background: -moz-linear-gradient(top, #aaa, #777);
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#777));

	color: #fff;
	letter-spacing: 1px;
}
form input[type=submit]:hover {
	background: -moz-linear-gradient(top, #ad3, #7b0);
	background: -webkit-gradient(linear, left top, left bottom, from(#ad3), to(#7b0));
}

img {
	border: 0;
}
