@import "/css/common.css";


/* =info {{{ */
#info {
	padding-left: 20px;
	overflow: hidden;
}
#info > p, #info ul {
	float: left;
}
#info h2 {
	color: #777;
	letter-spacing: 1px;
	font-size: medium;
	line-height: 48px;
	float: left;
}
#info ul {
	list-style: none;
	overflow: hidden;
}
#info ul.main {
	margin: 0 0 0 20px;
}
#info ul li {
	float: left;
	margin-right: 1.5em;
}
#info ul.etc {
	float: right;
}
#info ul li a {
	display: block;
	height: 48px;
	padding-left: 25px;
	line-height: 48px;
	text-decoration: underline;
}
#info ul li a.selected {
	font-weight: bold;
	text-decoration: none;
}
/* }}} */

/* =info icons {{{ */
#info ul li a#all_books {
	background: transparent url(../img/select_all.png) no-repeat left 50%;
}
#info ul li a#all_books.selected {
	background: transparent url(../img/selected_all.png) no-repeat left 50%;
}
#info ul li a#reading_books {
	background: transparent url(../img/select_reading.png) no-repeat left 50%;
}
#info ul li a#reading_books.selected {
	background: transparent url(../img/selected_reading.png) no-repeat left 50%;
}
#info ul li a#want_books {
	background: transparent url(../img/select_want.png) no-repeat left 50%;
}
#info ul li a#want_books.selected {
	background: transparent url(../img/selected_want.png) no-repeat left 50%;
}
#info ul li a#have_books {
	background: transparent url(../img/select_have.png) no-repeat left 50%;
}
#info ul li a#have_books.selected {
	background: transparent url(../img/selected_have.png) no-repeat left 50%;
}
#info ul li a#finish_books {
	background: transparent url(../img/select_finish.png) no-repeat left 50%;
}
#info ul li a#finish_books.selected {
	background: transparent url(../img/selected_finish.png) no-repeat left 50%;
}
#info ul li a#history_books {
	background: transparent url(../img/select_history.png) no-repeat left 50%;
}
#info ul li a#history_books.selected {
	background: transparent url(../img/selected_history.png) no-repeat left 50%;
}

/* }}} */

/* =pager {{{ */
ul.pager {
	color: #aaa;
	list-style: none;
	text-align: center;
}
ul.pager li {
	display: inline;
}

ul.pager li.prev {
	padding-right: 10px;
}
ul.pager li.prev a {
	background: transparent url(/img/prev.png) no-repeat left 50%;
	padding-left: 18px;
}
ul.pager li.prev span {
	background: transparent url(/img/no-prev.png) no-repeat left 50%;
	padding-left: 18px;
}

ul.pager li.next {
	padding-left: 10px;
}
ul.pager li.next a {
	background: transparent url(/img/next.png) no-repeat right 50%;
	padding-right: 18px;
}
ul.pager li.next span {
	background: transparent url(/img/no-next.png) no-repeat right 50%;
	padding-right: 18px;
}

ul.pager li.page {
	padding: 0 3px;
}
ul.pager li.now {
	font-weight: bold;
}
ul.pager li.page span, ul.pager li.page a {
	padding: 1px 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
ul.pager li.page a {
	background: #ffde08;
}
ul.pager li.page a:hover {
	background: #ed9a00;
	color: #fff;
}
ul.pager li.now span {
	background: #aaa;
	color: #fff;
}
/* }}} */

#container {
	margin-top: 10px;
	margin-left: 20px;
	overflow: hidden;
}

#container .book {
	position: relative;
	margin: 0 20px 20px 0;
	padding: 15px 0 0 15px;
	text-align: center;

	float: left;
}

#container .book div.book_image {
	/*
	background: transparent url(/img/shadow.png) no-repeat right bottom;
	padding: 0 8px 8px 0;
	*/

	-webkit-box-shadow: #ccc 4px 4px 8px;
	-moz-box-shadow: #ccc 4px 4px 8px;
	box-shadow: #ccc 4px 4px 8px;

	margin-bottom: 3px;
}

#container .book .icon {
	width: 50px;
	height: 50px;

	font-size: 0;
	text-indent: -10000px;

	position: absolute;
	top: 0; left: 0;
}
#container .reading .icon {
	background: transparent url(../img/reading_icon.png) no-repeat top left;
}
#container .want .icon {
	background: transparent url(../img/want_icon.png) no-repeat top left;
}
#container .have .icon {
	background: transparent url(../img/have_icon.png) no-repeat top left;
}
#container .finish .icon {
	background: transparent url(../img/finish_icon.png) no-repeat top left;
}

#container .book .book_info {
	position: absolute;
	top: 60px;
	left: 15;
	width: 110px;
	padding: 5px 0;
	background: #000;
	opacity: 0.8;
	color: #fff;
	display: none;
}
#container .book .book_info a {
	text-decoration: none;
	color: #fff;
}

#container table {
	font-size: small;
}
#container table#history_table {
	margin: 20px;
}
#container table#book_info_history_table {
	margin-right: 20px;
}
#container table#history_table thead th {
	min-width: 2.5em;
}

#container #large_book_image {
	float: left;
	margin: 10px 30px 0 30px;
}
#container #large_book_image + h3 {
	margin-top: 10px;
}
#container h4 {
	margin-top: 20px;
}

#container table#reading_words, #container table#want_words, #container table#having_words, #container table#finish_words {
	float: left;
	margin-right: 20px;
}


form#tweet {
	border: 1px solid #ddd;
	margin-top: 10px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
form#tweet select {
	width: 8em;
}
form#tweet textarea {
	width: 200px;
}

/* =exp {{{ */
#exp {
	width: 70%;
	margin: 20px auto 0 auto;
}
#exp h2 {
	font-size: 30px;
	letter-spacing: 2px;
	color: #444;
}
#exp h2 + p {
	background: transparent url(/img/border.png) repeat-x bottom;
	padding-bottom: 25px;
	margin-bottom: 30px;
	font-size: 25px;
}
#exp h2 + p .reading { color: #93d31b; }
#exp h2 + p .want { color: #e13b75; }

#exp #sample {
	background: transparent url(/img/border.png) repeat-x bottom;
	padding-bottom: 35px;
	margin-bottom: 20px;

	overflow: hidden;
}
#exp #sample p {
	padding-left: 20px;
}
#exp #sample p a {
	display: block;
	float: left;
	background: transparent url(/img/bird.png) no-repeat 50% 13px;

	color: #04c;
	text-decoration: none;

	/* total 143px = 100px + 30px + 13px */
	padding-top: 113px;
	font-size: 30px;
	font-weight: bold;
}
#exp #sample p a:hover {
	background: transparent url(/img/bird_call.png) no-repeat 50% 13px;
	color: #37f;
}

#exp #sample img {
	display: block;
	float: right;
	padding-right: 20px;
}
#exp #caution {
	background: transparent url(/img/caution.png) no-repeat top left;
	padding-left: 40px;
}

#exp #caution h3 {
	color: #e22;
	font-size: x-large;
	letter-spacing: 2px;
}
#exp #caution ul {
	margin-left: 1.5em;
	line-height: 1.5em;
}
/* }}} */



